:root{
    --background-color:#181A1B;
    --primary-font-color:#EDEADE;
    --secondary-color:#FFFFF0;
}

body{
    margin: 0;
    background-color:var(--background-color);
    color: var(--primary-font-color);
}

.register-box-parent{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    border: solid var(--secondary-color);
    border-radius: 8px;
    gap: 50px;

}

.registeration-inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input:focus{
    outline: none;
}