.auth-box-parent{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    border: solid var(--secondary-color);
    border-radius: 8px;
    gap: 50px;

}

.auth-inputs{
    display: flex;
    flex-direction: column;
    
    gap: 10px;
}

button{
    margin-top:20px ;
    align-self: center;
}

input:focus{
    outline: none;
}